<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ffb69f"/>

    <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
    <link rel="manifest" href="./app.webmanifest">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="icon" href="./favicon.png">


    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Lupis Nyari Makan</title>
  </head>
  <body>
    <header class="app-bar">
      <div class="app-bar__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <div class="app-bar__brand">
        <h1>Lupis Nyari Makan</h1>
      </div>
      <nav id="navigationDrawer" class="app-bar__navigation">
        <ul>
          <li><a href="#/home">Home</a></li>
          <li><a href="#/favorite">Favorite</a></li>
          <li><a target="_blank" rel="noopener" href="https://github.com/vegaputraa">About Us</a></li>
        </ul>
      </nav>
    </header>

    <div class="hero">
      <div class="hero__inner">
        <h1 class="hero__title">Halo Lupis! Yuk Cari Makan.</h1>
        <p class="hero__tagline">Kalo Laper Jangan Khawatir Piss, Kalian Bisa Cari Rekomendasi Resto dan Makanan Disini.</p>
      </div>
    </div>
    <main id="maincontent">
    </main>
    <footer>Copyright &copy 2023 - Lupis Nyari Makan (Vega Putra Dwi Agni - F144XB43)</footer>
  </body>
</html>
